<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1 class="todo-title">ToDo List</h1>
    <section class="todo">
      <form action="/admin/add-todo" method="post" class="form-group">
        <input type="text" placeholder="task..." name="task" />
        <button class="submit-btn" type="submit">+</button>
      </form>
      <section class="todo-list">
        <div class="done-task-length">
          <p>Done Tasks:</p>
          <p>49</p>
        </div>
        <div class="remaining-task-length">
          <p>Remaining Tasks:</p>
          <p>50</p>
        </div>
      </section>
      <section>
        <% if(!!todos.length) { %>
            <ul>
              <% for(let todo of todos){ %>
                <li>
                    <%= todo.text %> <a href="/admin/completed-todo?id=<%= todo.id %>" target="_self">Completed</a> <a href="/admin/delete-todo?id=<%= todo.id %>" target="_self">Delete</a>
                </li>
              <% } %>
            </ul>
        <% } else { %>
            <p>There is nothing ToDo!</p>
        <% } %>
      </section>
    </section>
  </body>
</html>
